doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Wiz Angular Sample
        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="shortcut icon", href="/assets/favicon.ico")

    body
        // Season Homepage
        //
        // Designer - 
        // Developer - JeongIn [ jeongin@season.co.kr ]
        // Developer - 
        //
        // ＼　　ヽ　　　　i　　|　　　　 /　　　/　
        // 　　　＼　
        // 집에 가고 싶당
        // 　　　　　　　　　　　　　　;' ':;,　　 　　　 ,;'':;,
        // 　　　　　　　　　　　　　;'　　 ':;,.,..,,,;'　　　';,
        // 　　ー　　　　　　　　 ,:'　　　　　　　　 　　　　::::::::､
        // 　_＿　　　　　　　　,:' ／ 　 　　　　＼ 　　　　　::::::::',
        // 　　　　　二　　　　:'　 ●　　　　　 ●　 　　　　　　::::::::i.
        // 　　￣　　　　　　　i　'''　(_人__)　　''''　　 ::::::::::i
        // 　　　　-‐　　　　　 :　 　　　　　　　　　 　　　　　::::::::i
        // 　　　　　　　　　　　`:,､ 　　　　　 　 　　　 :::::::::: /
        // 　　　　／　　　　　　 ,:'　　　　　　　 : ::::::::::::｀:､
        // 　　　　　　　　　　　 ,:'　　　　　　　　 : : ::::::::::｀:､

        app-root
